{% extends 'base.html' %}


{% block content %}

<div class="col-lg-12">
    <h1 class="page-header">Manage Clusters</h1>
</div>

<div class="col-lg-8">
<form action="create_cluster" method="GET" role="form" id="create">
    <button class="btn btn-lg btn-success pull-left" type="submit" form="create">
        Create new
    </button>
</form>
</div>

<div class="col-lg-8" style="clear:left">

    <div class="table-responsive">
        <table class="table table-hover ibm-data-table">
            <caption><em>Clusters in your account</em></caption>
            <thead>
            <tr>
                <th>Cluster Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cluster in clusters %}
            <tr>
                <td>
                    {{cluster.cluster_name}}
                </td>
                <td>{{ cluster.cluster_state }}</td>
                <td>
                    <a class="btn btn-success" href="view?cluster_id={{cluster.uuid}}">View</a>
                    <a class="btn btn-info" href="cluster_status?cluster_id={{cluster.uuid}}">Logs</a>

                    {% if cluster.cluster_state == 'Running' %}
                    <a class="btn btn-warning" href="suspend?cluster_id={{cluster.uuid}}">Suspend</a>
                    {% elif cluster.cluster_state == 'Suspended' %}
                    <a class="btn btn-warning" href="resume?cluster_id={{cluster.uuid}}">Resume</a>
                    {% endif %}

                    <a class="btn btn-danger"
                       onclick="return confirm('Are you sure you want to destroy the cluster?')"
                       href="delete?cluster_id={{cluster.uuid}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


</div>


{% endblock %}
