{% extends 'base.html' %}


{% block content %}
<h2>Creating a cluster on SoftLayer</h2>
<h3>SoftLayer User Configuration</h3>
<form action='' method='post' name='create_cluster'>

    {{ form.hidden_tag() }}
    <p>Cluster Name
        (required, this is the name you will see on your Cluster
        Dashboard):<br>
        {{ form.cluster_name(size=64) }}
        {% for error in form.cluster_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br></p>

    {{ form.hidden_tag() }}
    <p>SoftLayer SSH key label
        (optional, should be provisioned on SoftLayer in advance):<br>
        {{ form.sl_ssh_key(size=64) }}
        {% for error in form.sl_ssh_key.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br></p>

    <h3>Cluster configuration</h3>

    <p>SoftLayer domain: {{ form.sl_domain(size=64) }}
        {% for error in form.sl_domain.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br></p>

    <p>SoftLayer datacenter: {{ form.sl_datacenter }}
        <br></p>

    <p>Number of worker nodes: {{ form.num_workers }}
        {% for error in form.sl_domain.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br></p>

    <h3>Cluster node parameters</h3>

    <p>Number of cpus: {{ form.sl_cpus }}
        <br></p>

    <p>Memory size: {{ form.sl_memory }}
        <br></p>

    <p>Disk capacity: {{ form.sl_disk_capacity }}
        <br></p>

    <p>Network speed: {{ form.sl_network_speed }}
        <br></p>

    <br>
    <!--<p><input type='submit' value='Create cluster'></p>-->
    <button class="btn btn-lg btn-success" type="submit">Create cluster
    </button>

</form>
{% endblock %}